body {
    background-color: #000000ce;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-width: 800px;  
    max-width: 1200px; 
    min-height: 600px; 
    max-height: 900px; 
}

h1 {
    color: #333;
}

input {
    padding: 8px;
    margin: 10px;
    resize: none;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #45a049;
    transition: background-color 0.5s;
}

ul {
    list-style-type: none;
    padding: 0;
}

.save-b{
    position: absolute;
    top: 8px;
    left: 20px;
}

input{
    border-radius: 20px;
    color: #cccaca; 
    background-color: #494747;
    transition: background-color 0.5s;
}

input:hover{
    transition: background-color 0.5s;
    background-color: #555353;
    
}

input:active{
    transition: background-color 0.5s;
    background-color: #686565;
}

.note-text{
    color: #F5F5F5;
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: left;
}

.note-item {
    position: relative;  
    width: 300px;
    height: 50px;
    background-color: #ffffff4b;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s;
    overflow: hidden;  
}

.overlay-div {
    position: absolute;  
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;  
    background: #f86402;
    border-radius: 5px 0 0 5px;
}

.note-item.active {
    background-color: #f86402ce; 
}


li:hover {
    transition: background-color 0.5s;
    background-color: #ffffff71;
}

li:active {
    transition: background-color 0.5s;
    background-color: #ffffffa2;
}

li:focus {
    transition: background-color 0.5s;
    background-color: #ffffffa2;
}


#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f5f5f500;
    border-radius: 10px;
}

#style-2::-webkit-scrollbar
{
	width: 10px;
    height: 500px;
	background-color: #f5f5f500;
    border-radius: 10px;
}

#style-2::-webkit-scrollbar-thumb
{
	background-color: #a8a8a8;
	border: 2px solid #a7a7a700;
    border-radius: 10px;
}


.list-holder{
    
    
    position: absolute; 
    top: 130px;   
    left: 10px; 
    
    background-color: #4d4b4b;
    display: block;
    width: 300px;
    height: 565px;
    padding: 1em;
    overflow-y: scroll;
    text-align: center;
    border-radius: 10px;
    
}
.header{
    width: 1000px;
    height: 100px;

    position: absolute; 
    top: 10px;   
    left: 10px; 
    background-color: #7c7c7cb6;
    border-radius: 10px;
}
.header-1{
    width: 350px;
    height: 53px;

    position: absolute; 
    top: 40px;   
    left: 10px; 

    background-color: #cccaca7c;
    border-radius: 20px;
}
.header-2{
    width: 200px;
    height: 50px;

    position: absolute; 
    top: 40px;   
    right: 0px; 

    
}






.delete-btn {
    transition: background-color 0.5s;
    background-color: #c92525ce;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px; 
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 5px;
}

.delete-btn:hover {
    transition: background-color 0.5s;
    background-color: #f50b0b;
}


.text-of-note{
    width: 660px;
    height: 590px;

    position: absolute; 
    top: 130px;   
    left: 350px; 

    
    border-radius: 10px;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
textarea {
    background-color: #7e7e7e8c; 
    color: #cccaca; 
    width: 655px;
    height: 590px;
    resize: none; 
    border-radius: 10px;
    font-size: 14px; 
    font-family: 'Roboto';
    
}
